<div id="signDiv">
    Username: <input id="signDiv-username" type="text"></input><br>
    Password: <input id="signDiv-password" type="password"></input>
    <button id="signDiv-signIn">Entrar</button>
    <button id="signDiv-signUp">Registrarse</button>
</div>
<div id="gameDiv" style="display:none">
    <canvas id="ctx" width="500" height="500" style="border:1px solid#000000;"></canvas>
    <div id="chat-text" style="width:500px;height:100px;overflow-y:scroll">
        <div>Hello!</div>
    </div>
    <form id="chat-form">
        <input id="chat-input" type="text" style="width:500px"></input>
    </form>
</div>

<script src="/socket.io/socket.io.js"> </script>
<script>
    let WIDTH = 500;
    let HEIGHT = 500;
    let socket = io();

    let signDiv = document.getElementById('signDiv');
    let signDivUsername = document.getElementById('signDiv-username');
    let signDivSignIn = document.getElementById('signDiv-signIn');
    let signDivSignUp = document.getElementById('signDiv-signUp');
    let signDivPassword = document.getElementById('signDiv-password');
 
    signDivSignIn.onclick = function(){
        socket.emit('signIn',{username:signDivUsername.value,password:signDivPassword.value});
    }
    signDivSignUp.onclick = function(){
        socket.emit('signUp',{username:signDivUsername.value,password:signDivPassword.value});
    }
    socket.on('signInResponse',function(data){
        if(data.success){
            signDiv.style.display = 'none';
            gameDiv.style.display = 'inline-block';
        } else
            alert("Usuario o contraseña equivocada.");
    });
    socket.on('signUpResponse',function(data){
        if(data.success){
            alert("Bienvenido " + data.username);
        } else
            alert("error al registrar");
    });

    let chatText = document.getElementById('chat-text');
    let chatInput = document.getElementById('chat-input');
    let chatForm = document.getElementById('chat-form');




    //GAME
    let Img = {};
    Img.player = new Image();
    Img.player.src = '/client/img/player.png';
    Img.bullet = new Image();
    Img.bullet.src = '/client/img/bullet.png';
    Img.map = new Image();
    Img.map.src = '/client/img/map.png';

    let ctx = document.getElementById("ctx").getContext("2d");
    ctx.font = '30px Arial';
    
    let Player = function(initPack){
        let self = {};
        self.id = initPack.id;
        self.number = initPack.number;
        self.x = initPack.x;
        self.y = initPack.y;
        self.hp = initPack.hp;
        self.hpMax = initPack.hpMax;
        self.score = initPack.score;
        Player.list[self.id] = self;
        
        self.draw = function(){
            let x = self.x - Player.list[selfId].x + WIDTH/2; 
            let y = self.y - Player.list[selfId].y + HEIGHT/2; 
            let hpWidth = 30* self.hp /self.hpMax;
            ctx.fillStyle = 'red';
            ctx.fillRect(x - hpWidth/2,y - 40,hpWidth,4);
            let width = Img.player.width*2;
            let height = Img.player.width*2;
          
  
            ctx.drawImage(Img.player,0,0,Img.player.width,Img.player.height,x-width/2,y-height/2,width,height);
            //ctx.fillText(self.score,self.x,self.y-60);
        }
        return self;
    }
    Player.list = {};     
    var Bullet = function(initPack){
        var self = {};
        self.id = initPack.id;
        self.x = initPack.x;
        self.y = initPack.y;
        self.draw = function(){
            let width = Img.bullet.width/2;
            let height = Img.bullet.width/2;
            let x = self.x - Player.list[selfId].x + WIDTH/2; 
            let y = self.y - Player.list[selfId].y + HEIGHT/2; 
            ctx.drawImage(Img.bullet,0,0,Img.bullet.width,Img.bullet.height,x-width/2,y-height/2,width,height);
  
        }
        Bullet.list[self.id] = self;       
        return self;
    }
    Bullet.list = {};

    var selfId = null; // proximamente que el server solo envie la data necesaria
    socket.on('init',function(data){
        if(data.selfId!== undefined){
            selfId = data.selfId;
        }
        data.player.forEach((item,i)=>{
            console.log(data);
            Player(item);
        });
        data.bullet.forEach((item,i)=>{
            Bullet(item);
        });
    });
    socket.on('update',function(data){
        //{ player : [{id:123,x:0,y:0},{id:1,x:0,y:0}], bullet: []}
        data.player.forEach((item,i)=>{
            var pack = item
            var p = Player.list[pack.id];
            if(p){
                if(pack.x !== undefined)
                    p.x = pack.x;
                if(pack.y !== undefined)
                    p.y = pack.y;
                if(pack.hp !== undefined)
                    p.hp = pack.hp;
                if(pack.y !== undefined)
                    p.score = pack.score;
            }
        });
        data.bullet.forEach((item,i)=>{
            var pack = item
            var b = Bullet.list[item.id];
            if(b){
                if(pack.x !== undefined)
                    b.x = pack.x;
                if(pack.y !== undefined)
                    b.y = pack.y;
            }
        });
    });
    socket.on('remove',function(data){
        //{player:[12323],bullet:[12323,123123]}
        for(var i = 0 ; i < data.player.length; i++){
            delete Player.list[data.player[i]];
        }
        for(var i = 0 ; i < data.bullet.length; i++){
            delete Bullet.list[data.bullet[i]];
        }
    });
    //init
    //update
    //remove
    setInterval(function () {
        if(selfId == null){
            return;
        }
        ctx.clearRect(0, 0, 500, 500);
        drawMap();
        drawScore();
        for(let i in Player.list){
            Player.list[i].draw();
        }
        for(let i in Bullet.list) {
            Bullet.list[i].draw();
        }
    },40);
    let drawMap = function(){
        let x = WIDTH/2 - Player.list[selfId].x;
        let y = HEIGHT/2 - Player.list[selfId].y;
        ctx.drawImage(Img.map,x,y);
    }
    socket.on('addToChat', function (data) {
        chatText.innerHTML += '<div>' + data + '</div>';
    });
    socket.on('evalAnswer', function (data) {
        console.log(data);
    });
    chatForm.onsubmit = function (e) {
        e.preventDefault();
        if (chatInput.value[0] === '/')
            socket.emit('eval', chatInput.value.slice(1));
        else
            socket.emit('sendMsg', chatInput.value);
        chatInput.value = '';
    }
    let drawScore = function(){
        ctx.fillStyle = 'white';
        ctx.fillText(Player.list[selfId].score,0,30);
    }
    document.onkeydown = function (event) {
        if (event.keyCode === 68) //d
            socket.emit('keypress', { inputId: 'right', state: true });
        else if (event.keyCode === 83) //s
            socket.emit('keypress', { inputId: 'down', state: true });
        else if (event.keyCode === 65) //a
            socket.emit('keypress', { inputId: 'left', state: true });
        else if (event.keyCode === 87) { //w
            socket.emit('keypress', { inputId: 'up', state: true });
        }
    }
    document.onkeyup = function (event) {
        if (event.keyCode === 68) //d
            socket.emit('keypress', { inputId: 'right', state: false });
        else if (event.keyCode === 83) //s
            socket.emit('keypress', { inputId: 'down', state: false });
        else if (event.keyCode === 65) //a
            socket.emit('keypress', { inputId: 'left', state: false });
        else if (event.keyCode === 87) //w
            socket.emit('keypress', { inputId: 'up', state: false });
    }
    document.onmousedown = function (event) {
        socket.emit('keypress', { inputId: 'attack', state: true });
    }
    document.onmouseup = function (event) {
        socket.emit('keypress', { inputId: 'attack', state: false });
    }
    document.onmousemove = function (event) {
        let x = -250 + event.clientX - 8;
        let y = -250 + event.clientY - 8;
        let angle = Math.atan2(y, x) / Math.PI * 180;
        socket.emit('keypress', { inputId: 'mouseAngle', state: angle });
    }
</script>